doctype html
html
    head
        title 房间 #{roomname}
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/ace-build/ace.js')
        script(src='/javascripts/ace-build/ext-language_tools.js')
    body
        pre#editor.
        script(src='/javascripts/bundle.js')